@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  background-color: #1E293B !important;
  -webkit-box-shadow: 0 0 0px 1000px #1E293B inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}